.txt1{
    display: inline;
    
    
}
.input{
    display: inline;
}
.section{
   
   border: 1px solid;
   height: 160px;
   width: 400px;
   border-radius: 10px;
  text-align: center;
 
    margin-left: 500px;
  
    margin-top: 200px;
    background-color: rgb(189, 77, 90);

}
h3,input,button{
    margin-top: 30px;
}
button{
    color: rgb(167, 167, 167);
    background-color: rgb(169, 15, 15);
    border: 1px solid;
    border-radius: 10px;
}
input{
    border-radius: 10px;
}